.hourly-forecast {
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.chart-container {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    height: 300px;
}

.hourly-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    margin-top: 20px;
    margin: 10px 0px 0px;
    justify-content: space-between; /* Add this line */
    flex-wrap: wrap; /* Add this line if you want items to wrap */
}

.hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.time {
    font-size: 14px;
    color: #666;
}

.icon-small {
    width: 40px;
    height: 40px;
}

.temp {
    font-size: 16px;
    font-weight: 600;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}